
.test_div{
    background-color:rgb(70, 109, 70);
border-radius: 50px;
color: white;
margin-left: 100px;
margin-bottom: 10px;
}
.heading{
    width:80mm;

}
.copy_right_footer{
    background-color: rgb(211, 211, 211);
    position: fixed;
    width:100%;
padding: 10px;
color: black;
bottom: 0;
text-align: center;
font-family: fantasy;
}
.p1{
    color: firebrick;
    font-weight: 600;
}
h1{
    font-size: 20px !important;
}
.hr1{
    width: 10cm;
    background-color: black;
}